<%- include('../partials/navbar') %>

<div class="mt-4 flex flex-col gap-4">
  <% if (typeof error != 'undefined') { %>
  <div class="bg-red-200 p-4 rounded-lg border-[1px] border-red-400">
    <p class="text-sm font-medium"><%= error %></p>
  </div>
  <% } else if(notes.length === 0) {%>
  <p class="text-black/80 italic text-sm">There is no notes for now.</p>
  <%} else {%>
  <div class="grid gap-2 sm:grid-cols-3 sm:auto-rows-[14rem]">
    <% notes.forEach(note => { %>
    <%- include('../partials/notesCard', {note}) %>
    <% }) %>
  </div>

  <div class="w-full flex justify-center">
    <div class="flex gap-4">
      <a href="<%= typeof prevHref === 'undefined' ? '#':prevHref %>" class="select-none rounded-full px-4 py-2 border-2 border-black text-sm font-bold <% if (typeof prevHref === 'undefined') { %>
        pointer-events-none cursor-default opacity-30
      <% } %>">
        <i class="bx bx-left-arrow-alt"></i> Previous
      </a>
      <a href="<%= typeof nextHref === 'undefined' ? '#':nextHref %>" class="select-none rounded-full px-4 py-2 border-2 border-black text-sm font-bold <% if (typeof nextHref === 'undefined') { %>
        pointer-events-none cursor-default opacity-30
      <% } %>">
        Next <i class="bx bx-right-arrow-alt"></i>
      </a>
    </div>
  </div>
  <%}%>
</div>

<%- include('../partials/footer') %>